.todo-task {	
	cursor: pointer;
}
.is-completed {
	text-decoration: line-through;

}

.delete-button {
    background-color: blue; 
    border: none;
    color: white;
    padding: 8px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}
